sub {
  vertical-align: sub;
  font-size: smaller;
}
.cover {
  width: 100vw;
  max-height: 100vh;
  text-align: center;
  color: white;
}

.img_cover {
  width: 100vw;
  height: 100vh;
}
.big_title {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}

h1, h2, p {
  font-family: 'Merriweather Sans', sans-serif;
}
.title {
  font-size: 1.5em;
  font-stretch: extra-condensed;
  margin-top: 10vh;
  border-bottom: solid 3px coral;
}
.sub_title, .title{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.sub_title {
  font-size: 1.2em;
}
.caption {
  font-weight: bold;
  font-size: 0.8em;
}
.tq_time_space {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
}
.tq_2019 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.tq_text {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  font-family: 'Merriweather', serif;
}
.tq_2020 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.tq_dothi {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.8fr;
  grid-template-rows: 1.5fr 1fr;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.map_dothi {
  grid-column: 2/3;
  grid-row: 1/3;
}
.graph_dothi {
  grid-column: 3/4;
  grid-row: 1/3;
}

.tq_dothi_text {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  font-family: Merriweather;
  margin-right: 2vw;
}
.mien_bac, .mien_bac_tram, .mien_bac_ss {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  margin-top: 30px;
}
#mien_bac_tram {
  display: none;
}
.bac_text p, .bac_tram_text p, .bac_ss_text {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: Merriweather;
}
.bac_map, .bac_dots, .bac_dots {
  grid-column: 2/3;
  grid-row: 1/2;
}

button {
  margin-top: 10px;
}

/* slideshow style */
.slideshow_container_bac, .slideshow_container_trung, .slideshow_container_nam, .hanoi_dsq, .hochiminh_lsq {
  max-width: 1400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlide_bac, .mySlide_trung, .mySlide_nam, .mySlide_dsq_HN, .mySlide_lsq_HCM {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* end slideshow */
.sub_head {
  text-align: center;
  font-size: 2.5em;
  margin-top: 10vh;
}
.instruction_cap {
  font-style: italic;
  font-size: 0.8em;
}
/* mien trung */
.mien_trung, .mien_trung_tram, .mien_trung_ss {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 10vw;
  margin-right: 10vw;
}
.trung_text, .trung_tram_text, .trung_ss_text {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}
.trung_text p, .trung_tram_text p, .trung_ss_text {
  font-family: Merriweather;
}
.trung_map, .trung_tram_map, .trung_dots {
  grid-row: 1/2;
  grid-column: 2/3;
}
#mien_trung_tram {
  display: none;
}

/* mien nam style */
.mien_nam, .mien_nam_tram, .mien_nam_ss {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-left: 10vw;
  margin-right: 10vw;
}

.nam_text, .nam_tram_text, .nam_ss_text {
  grid-column: 1/2;
  align-self: center;
}

.nam_text p, .nam_tram_text p, .nam_ss_text p{
  font-family: Merriweather;
}
.nam_map, .nam_tram_map, .nam_dots {
  grid-column: 2/3;
}

#mien_nam_tram {
  display: none;
}
/* Hanoi style */
.hanoi_head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
}
.hanoi_sub_head, .anh_hanoi {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}
.anh_hanoi {
  width: 20%;
  opacity: 0.5;
}
.hanoi_sub_head {
  z-index: 1;
}
.hanoi_scene, .hanoi_mua, .hanoi_tram {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15vw;
  margin-right: 15vw;
}
.hanoi_map, .hanoi_mua_line, .hanoi_tram_map {
  grid-column: 2/3;
}
.hanoi_map, .hanoi_tram_map {
  width: 70%;
}
.hanoi_scene_text, .hanoi_mua_text, .hanoi_tram_text {
  grid-column: 1/2;
  font-family: Merriweather;
  align-self: center;
}

.hanoi_mua_sub, .hanoi_tq_sub {
  margin-top: 5vw;
}

.hanoi_tram {
  margin-top: 5vw;
}

.dsq_diachi, .dsq_nam, .dsq_thang, .dsq_ngay_AQI, .dsq_ngay_tuan, .dsq_gio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5vw;
  margin-right: 5vw;
}

.dsq_diachi_text, .dsq_nam_text, .dsq_thang_text, .dsq_ngay_AQI_text, .dsq_ngay_tuan_text, .dsq_gio_text {
  grid-column: 1/2;
  align-self: center;
  font-family: Merriweather;
}

.dsq_diachi_map, .dsq_nam_line, .dsq_thang_line, .dsq_ngay_AQI_line, .dsq_ngay_tuan_line, .dsq_gio_line {
  grid-column: 2/3;
}

.dsq_diachi_map {
  width: 70%;
  justify-self: center;
}

/* Thanh pho Ho chi minh style */
.hochiminh_head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
}
.hochiminh_sub_head, .anh_hochiminh {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}
.anh_hochiminh {
  width: 20%;
  opacity: 0.7;
}
.hochiminh_sub_head {
  z-index: 1;
}

.hochiminh_scene, .hochiminh_tram, .hochiminh_mua {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-left: 15vw;
  margin-right: 15vw;
}
.hochiminh_scene_text, .hochiminh_tram_text, .hochiminh_mua_text{
  grid-column: 1/2;
  font-family: Merriweather;
  align-self: center;
}
.hochiminh_map, .hochiminh_tram_map, .hochiminh_mua_line{
  grid-column: 2/3;
  align-self: center;
}

.hochiminh_map, .hochiminh_tram_map {
  width: 50%;
  justify-self: center;
}
.hochiminh_tram {
  margin-top: 50px;
}

.lsq_diachi, .lsq_nam, .lsq_thang, .lsq_ngay_AQI, .lsq_ngay_tuan, .lsq_gio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5vw;
  margin-right: 5vw;
}

.lsq_diachi_text, .lsq_nam_text, .lsq_thang_text, .lsq_ngay_AQI_text, .lsq_ngay_tuan_text, .lsq_gio_text {
  grid-column: 1/2;
  font-family: Merriweather;
  align-self: center;
}

.lsq_diachi_map, .lsq_nam_line, .lsq_thang_line, .lsq_ngay_AQI_line, .lsq_ngay_tuan_line, .lsq_gio_line{
  grid-column: 2/3;
}
.lsq_diachi_map {
  width: 70%;
  justify-self: center;
}
